extends layout
block meta
  meta(property="og:url", content = page_url)
  meta(property="og:title", content=i18n.t("meta.title"))
  meta(property="og:description", content=i18n.t("meta.description"))
  meta(property="og:image", content= host + i18n.t("meta.image"))
  meta(property="twitter:card", content="summary_large_image")
  meta(property="twitter:site", content="@arbolintl")
  meta(property="twitter:creator", content="@arbolintl")
  meta(property="twitter:title", content=i18n.t("meta.title"))
  meta(property="twitter:description", content=i18n.t("meta.description"))
  meta(property="twitter:image", content= host + i18n.t("meta.image"))
block content
  div(class="container-fluid", data-ng-controller="HireUsController as huc")
    div(style="margin-top:15px;", class="panel panel-info")
      div(class="panel-heading")= i18n.t("views.work_with_us.opportunity_details.title")
      div(class="panel-body")
        each text in i18n.t("views.work_with_us.opportunity_details.text", {returnObjectTrees: true})
          p= text
        div(class="alert alert-info",. style="background-color:#EBF4F8;")
          h4= i18n.t("views.work_with_us.in_collaboration_with")
          center
            div(class="thumbnail arb-thumbnail")
              img(src="/images/semantic.gif")
              div(class="caption")
                h5
                  a(target="_blank", href="http://semantic.mx/") Semantic
    div(style="margin-top:15px;", class="panel panel-info")
      div(class="panel-heading")= i18n.t("views.work_with_us.look_and_offer.title")
      div(class="panel-body")
        each text in i18n.t("views.work_with_us.look_and_offer.text", {returnObjectTrees: true})
          p= text
    div(style="margin-top:15px;", class="panel panel-info")
      div(class="panel-heading")= i18n.t("views.work_with_us.projects.title")
      div(class="panel-body")
        each text in i18n.t("views.work_with_us.projects.text", {returnObjectTrees: true})
          p= text
        ul
          each example in i18n.t("views.work_with_us.projects.examples", {returnObjectTrees: true})
            li
              a(target="_blank", href=example.link)= example.label
    div(style="margin-top:15px;", class="panel panel-info")
      div(class="panel-heading")= i18n.t("views.work_with_us.technology.title")
      div(class="panel-body")
        each text in i18n.t("views.work_with_us.technology.text", {returnObjectTrees: true})
          p= text
        p= i18n.t("views.work_with_us.technology.languages")
          ul
            li Ruby (Rails)
            li Python (Django)
            li PHP
            li Javascript (Node, Angular, React)
        p= i18n.t("views.work_with_us.technology.basics")
          ul
            li HTML
            li CSS (Sass, SCSS, Less, etc.)
            li SQL
    div(style="margin-top:15px;", class="panel panel-info")
      div(class="panel-heading")= i18n.t("views.work_with_us.requirements.title")
      div(class="panel-body")
        ul
          each text in i18n.t("views.work_with_us.requirements.text", {returnObjectTrees: true})
            li= text
    div(style="margin-top:15px;", class="panel panel-info")
      div(class="panel-heading")= i18n.t("views.work_with_us.process.title")
      div(class="panel-body")
        each text in i18n.t("views.work_with_us.process.text", {returnObjectTrees: true})
          p= text
        ol
          each step in i18n.t("views.work_with_us.process.steps", {returnObjectTrees: true})
            li= step
    div(style="margin-top:15px;", class="panel panel-info")
      div(class="panel-heading")= i18n.t("views.work_with_us.share.title")
      div(class="panel-body")
        center
          div(class="thumbnail arb-thumbnail")
            a(class="fancybox", href=i18n.t("meta.image"))
              img(src=i18n.t("meta.image"))
        center
          div(class="fb-share-button", data-href=page_url, data-layout="button")
          a(href="https://twitter.com/share", class="twitter-share-button") Tweet
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
